extends _main

block title
  title Stahk Photos | Integrate
  link(rel='stylesheet', href="//rawgit.com/HubSpot/integrate/master/stylesheets/style.css")

block head
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js")
  script(src="//rawgit.com/HubSpot/integrate/master/integrate.min.js")

block content
  script(src="/js/integrate/integrate.js")
